/* styles.css */

/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 253, 250); /* Light greenish background */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    border: 1px solid #ccc; /* Add a 1px solid border around the body */
    border-radius: 5px; /* Add some border radius for a slight rounded corner effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 body {
    width: 250px; /* change this to your desired width */
    height: 150px; /* change this to your desired height */
    position: relative;
    text-align: center;
 }

button {
    padding: 10px 20px; /* Add padding */
    font-size: 20px; /* Increase font size */
    background-color: #435ea1; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px; /* Add margin around the buttons */
}
/* Hover effect for the buttons */
button:hover {
    background-color: #2f4375; /* Darker blue on hover */
}

.button-container {
            text-align: center; /* Align the buttons horizontally */
}

/* Style for individual buttons (optional) */
.button-container button {
            margin: 5px; /* Add margin between buttons */
}

